.container-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 64px;

    h1 {
        color: #29292E;
        font-family: 'Poppins';
        font-weight: bold;
        font-size: 24px;
        margin-top: 24px;
    }

    p {
        margin-top: 12px;
        font-family: 'Roboto';
        color: #737380;
        font-size: 16px;
    }
}

.container-button {
    margin-top: 40px;
    display: flex;
    gap: 8px;
    margin-bottom: 64px;

    button {
        width: 159px;
        height: 48px;
        background-color: #E73F5D;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 14px 32px 15px;
        border-radius: 8px;
        border: 0;
        color: #fff;
        cursor: pointer;
    }

    .cancel {
        background-color: #DBDCDD;
        color: #737380;
    }
}